.date-display {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  color: white; 
  border: none;
  background: none; 
  opacity: 0.5;
}

.date-display__text {
  font-size: 16px;
  padding: 8px;
  margin: 0; 
}

.top-bar__icon {
  width: 20px;
  height: 20px;
}

.react-datepicker-popper {
  margin: 0 !important;
  padding: 0 !important;
}

.react-datepicker__tab-loop {
  margin: 0 !important;
  padding: 0 !important;
}