.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column{
  background:#24262C;
  flex: 1;
  gap: 22px;
  max-width: 352px;
  padding: 22px 16px 16px 16px;
  border-radius: 12px;
}

.column-title{
  margin-bottom: 16px;
}